apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: audiobookshelf
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - audiobookshelf-configmap.yaml
  - audiobookshelf-storage.yaml
  - config-storage.yaml
  - metadata-storage.yaml
  - podcasts-storage.yaml